@media all and (min-width:1440px){

    /* 공통영역 */
    #wrap{
        width: 100%;
        /* position: relative; */
        overflow: hidden;
    }

    section,footer{
        width: 100%;
        float: left;
        position: relative;
    }
    .container{
        width: 1440px;
        /* width: 75%; */
        margin: 100px auto;
        /* background-color: lightcoral; */
    }
    .title{
        width: 1440px;
        /* width: 75%; */
        margin: 50px auto 0 auto;
        font-size: 70px;
        font-family: 'roblack';
    }
    .title span{
        font-size: 20px;
        font-family: 'roblack';
    }

    .clear_fix::after{
        clear: both;
        display: block;
        content: '';
    }

    /* header */

    header{
        /* width: 240px; */
        width: 12.5%;
        height: 100vh;
        /* background-color: lightblue; */
        position: fixed;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 99;
    }
    #menu_wrap{
        width: 100%;
        height: 310px;
        /* background-color: coral; */
        font-family: 'robold';
        font-weight: 900;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    #menu_wrap li{
        margin-left: 80px;
        user-select: none;
        cursor:pointer;
        transition: 0.5s;
    }

    /* hover 이벤트 */
    #menu_wrap li:hover{
        transform: scale(1.2);
        color: #0090FF;
    }


    /* main */

    #main{
        width: 100%;
        height: 100vh;
        background: url(../content/main_bg.png) no-repeat center/cover;
        position: relative;
    }
    #main_p{
        /* width: 800px; */
        width: 50vw;
        height: 270px;
        /* background-color: lightblue; */
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -135px;
        margin-left: -400px;
        color: #1a1a1a;
        font-family: 'roblack';
        font-weight: 900;
        font-size: 50px;
        text-align: right;
        z-index: 9;
    }
    #main_p span{
        color: #1a1a1a;
        font-size: 150px;
    }
    #main img{
        position: absolute;
    }
    #ball01{
        bottom: 130px;
        left: 50px;
    }
    #ball02{
        bottom: 50px;
        right: 200px;
    }
    #ball03{
        top: 50px;
        right: 620px;
    }


    /* section01 */

    #sec01{
        width: 100vw;
        /* height: 100vh; */
        background: url(../content/sec01_bg.png) no-repeat center/contain;
    }
    #left_con,#right_con{
        width: 50%;
        float: left;
    }
    #img_box{
        width: 400px;
        height: 400px;
        border-radius: 50%;
        border: 1px solid #1a1a1a;
        box-sizing: border-box;
        overflow: hidden;
        margin: 0 auto;
    }
    #img_box img{
        width: 100%;
    }
    #left_con h1{
        width: 100%;
        text-align: center;
        font-family: 'sc';
        margin-top: 30px;
        font-size: 35px;
    }
    #right_con{
        font-family: 'goex';
    }
    #name{
        width: 100%;
        
        font-size: 26px;
        margin-top: 60px;
    }
    #name span{
        font-size: 36px;
    }
    #skill{
        font-size: 40px;
        margin-top: 50px;
    }
    #icon_wrap{
        width: 400px;
        height: 50px;
        margin-top: 30px;
    }
    #icon_wrap img{
        float: left;
        height: 50px;
        margin-right: 20px;
    }
    #p_btn{
        float: right;
        width: 170px;
        text-align: right;
        font-size: 16px;
        margin-top: 200px;
        margin-right: 30px;
        font-family: 'go';
        text-decoration: underline;
        user-select: none;
        cursor: pointer;
    }


    /* section02 */
    #sec02{
        width: 100vw;
        background: url(../content/sec02_bg.png) no-repeat center/cover;
        font-family: 'go';
    }
    #top_con,#bottom_con{
        width: 100%;
        height: 500px;
        background-color: rgba(245, 245, 245,0.3);
        border: 8px solid #fff;
        box-sizing: border-box;
    }
    #bottom_con{
        display: none;
    }
    #top_con{
        margin-bottom: 100px;
    }
    .left02,.right02{
        width: 50%;
        height: 100%;
        float: left;
    }
    .web_wrap{
        width: 500px;
        height: 350px;
        border-radius: 50%;
        background-color: lightcoral;
    }
    .center_web{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .center_sub{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    #web01{background: url(../content/ballop.jpg) no-repeat center/cover;}
    #web02{background: url(../content/bay.jpg) no-repeat center/cover;}

    .web_btn{
        width: 50%;
        height: 100px;
        background-color: #0090FF;
        line-height: 100px;
        font-size: 30px;
        font-family: 'goex';
        text-align: center;
    }
    .web_btn a{
        color: #eee;
    }
    .web{
        font-size: 24px;
        margin: 35px 0;
    }
    .big{
        font-size: 30px;
    }
    .web_b{
        font-size: 22px;
    }



    /* section03 */
    #sec03{
        width: 100vw;
        background: url(../content/sec03_bg.png) no-repeat center/cover;
    }
    #top_art{
        width: 100%;
        /* height: 600px;   */
        margin-bottom: 100px;  
    }
    #left_art{
        float: left;
        width: 34.72%;
        margin-right: 2.78%;
    }
    #left_art img{
        width: 250px;
        cursor: pointer;
        border: 5px solid #0090FF;
        box-sizing: border-box;
    }
    #left_art img:nth-child(2){
        margin: 50px 0 50px 250px;
        
    }
    #top_big{
        float: left;
        width: 62.5%;
        height: 500px;
        overflow: hidden;
        position: relative;
    }
    #top_big img{
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    #bottom_art{
        width: 100%;
    }
    #bottom_big{
        float: left;
        width: 45.13%;
        height: 884px;
        position: relative;
        overflow: hidden;
    }
    #bottom_big img{
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    #right_art{
        float: left;
        width: 50%;
        margin-left: 4.87%;
        margin-top: 300px;
    }
    #right_art img{
        width: 200px;
        float: left;
        cursor: pointer;
        border: 5px solid #0090FF;
        box-sizing: border-box;
    }
    #right_art img:nth-child(2){
        margin: 0 60px;
    }




    /* 인포그래픽 */
    #hidden{
        display: none;
        width: 533px;
        height: 800px;
        position: absolute;
        top: 150%;
        left: 50%;
        margin-top: -400px;
        margin-left: -266.5px;
        border: 1px solid #0090FF;
        box-sizing: border-box;
        z-index: 999;
    }
    #hidden img{
        width: 100%;
    }
    #close{
        position: absolute;
        top: 0;
        right: 0;
        width: 80px;
        height: 50px;
        background-color: #eee;
        border: 1px solid #00335B;
        text-align: center;
        line-height: 50px;
        user-select: none;
        cursor: pointer;
    }

    /* footer */
    footer{
        width: 100vw;
        height: 100px;
        background-color: #00335B;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    footer p{
        color: #eee;
        text-align: center;
        font-size: 12px;
    }

}